.thumb-wrap {
  position: relative;
}

.graph-wrap {
  aspect-ratio: 589 / 294;
  width: 100%;
}

@media (min-width: 640px) {
  .hero-container {
    gap: 53px;
  }

  .thumb-wrap {
    width: 540px;
  }

  .graph-wrap {
    width: 589px;
  }
}

.text-shadow {
  text-shadow: 0px 0px 6px #FCA500;
}