.hexagon {
  display: grid;
  place-items: center;
  height: 134px;
  width: 116px;
  padding: 10px;
  background: linear-gradient(155.89deg, #FFCC21 8.26%, #FF963C 91.18%);
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  cursor: pointer;
}

.hexagon:hover, .hexagon.active {
  opacity: 0.7;
}